.App {
  text-align: center;
  width: 100%;
}
.baslik1 {
  font-size: 2rem;
  color: aliceblue;
  padding: 25px 30px;
  font-family: "JetBrains Mono", monospace;
}

.arama {
  width: 94%;
  height: 2.5rem;
  border-radius: 7px;
  margin-bottom: 1rem;
  padding-left: 4%;
  font-size: 1.5rem;
  outline: none;
}
